img {
    height: 200px;
    width: 200px;

}

h1, h2 {
    color: #F4F4F4;
}

body {
    margin-left: 100px;
    margin-right: 100px;
    background-color: #373737;
    font-size: 120%;


}

p {
    width: 800px;
    color: #C0B283;

}

ul, li {
    color: #DCD0C0;
}
